<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042225667960-cgrnodk701bd267joc7cbbjl55aapn47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042225667960-cgrnodk701bd267joc7cbbjl55aapn47</string>
	<key>API_KEY</key>
	<string>AIzaSyCsG30J6nf-Aox3DMbi8BoQS-WxncIzxqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1042225667960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>basecrudfl</string>
	<key>STORAGE_BUCKET</key>
	<string>basecrudfl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042225667960:ios:418214b5b8dee1720a728d</string>
</dict>
</plist>